body{
	background: #edf1f5;
	display: absolute;
	height:100%;
	width: 100%;
}

.wrapper{
	display: absolute;
	top:0;
	left:0;
	height:100%;
	margin-left: 220px;
}

.row-in-br {
    border-right: 1px solid rgba(120,130,140,.13);
}

h5{
	color: rgb(141, 158, 167);
	font-size: 14px;
	font-weight: 300;
	margin: 5px 0;
}

h3{
	font-size: 48px;
    font-weight: 100;
}

.wrapper h4{
	margin:0;
	line-height: 60px;
	font-size: 18px;
    color: rgba(0,0,0,.5);
    font-weight: 600;
}

.wrapper > .navbar{
	z-index: -1;
}

.breadcrumb-nav{
	margin:0;
	line-height: 36px;
}
/* 
.breadcrumb > a{
	color:#fb9678;
}

.breadcrumb > a:hover{
	color:#ff6849;
}
 */
