@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
body{
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

a:link{
	text-decoration: none;
}

.top-left{
	display: block;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    background: #fff;
    width:220px;
}

.navbar-elite{
    padding: 0;
    width: 100%;
}

.navbar-elite.sidebar{
	position: absolute;
	width:220px;
	height: 100%;
}

.user-profile{
	margin-top: 15px;
	margin-bottom: 15px;
}

.user-profile a {
    color: #54667a;
    text-decoration: none;
    margin-top:5px;
}

.user-profile .dropdown-menu {
    position: absolute;
    top:80px !important;
    right: 0;
    left: 0;
    width: 180px;
    margin: auto;
}

.img-container.center{
	text-align: center;
}

.img-container img{
	max-width: 50px;
}

.dropdown-toggle.u-dropdown{
	color: #54667a;
	font-size: 14px;
}

b.left{
    height: 60px;
    display: inline-block;
    width: 60px;
    line-height: 60px;
    text-align: center;
}

b.right{
	margin-left: -5px;
}

.nav-small-cap{
	color: #a6afbb;
    cursor: default;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .035em;
    pointer-events: none;
    padding: 12px 15px!important;
    margin: 20px 0 0 -15px;
}

.nav > li, .nav > li > a {
	position: relative;
	display: block;
	width:100%;
}

#side-menu li a{
	color: #54667a;
    border-left: 0 solid #fff;
    text-decoration: none;
}

#side-menu ul>li>a.active {
    color: #2b2b2b;
    font-weight: 500;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav#side-menu > li.active > a {
    background: rgba(0,0,0,0.03);
}

.nav#side-menu > li > a:hover {
    background: rgba(0,0,0,0.03);
}

#side-menu>li>a {
    padding: 15px 30px 15px 15px;
}

.sidebar .nav-second-level li a {
    padding-left: 43px;
}

.nav.nav-second-level{
	flex-direction: column;
}

.badge-side-nav{
	margin-top: 3px;
}

.collapse.in {
    display: block;
}

.collapse{
	-webkit-transition:all 3s ease;
	transition:all 3s ease;
	overflow: hidden;
	display: none;
}

#side-menu li.active .arrow {
    transform: rotate(90deg);
}
#side-menu .arrow {
    position: absolute;
    right: 15px;
    top: 18px;
}

.linear-icon {
    position: relative;
}


/* top navs */
.nav-top-links{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 60px;
}

.nav-top-links > li{
    line-height: 10px;
    float: left;
}

.nav-top-links > li > a{
    line-height: 60px;
    min-height: 60px;
    padding: 0 16px;
    color:#fff;
}

form[role=search]{
    padding: 11px;
}

.nav-top-right{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 60px;
}

.nav-top-right > li{
    line-height: 10px;
    float: left;
}

.nav-top-right > li > a{
    line-height: 60px;
    min-height: 60px;
    padding: 0 16px;
    color:#fff;
}